In [1]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1, 2, 3])

In [ ]:
df

In [ ]:
df.loc[3, "a"]

In [ ]:
df.loc[[1,2],["a", "b"]]

In [ ]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        columns=['a', 'b', 'c'],
        index=[1, 2, 3])
df

In [26]:
import numpy as np
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6, np.nan],
        "b" : [7, 8, np.nan, 9, 9],
        "c" : [10, 11, np.nan, 12, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e', 4)],
        names=['n','v']))

df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN   NaN
  3  6.0  9.0  12.0
  4  NaN  9.0  12.0

In [ ]:
df.drop_duplicates(keep='last')

In [6]:
df[df.b != 7]

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12
  3  6  9  12

In [13]:
df.a.isin([5])

n  v
d  1    False
   2     True
e  2    False
   3    False
Name: a, dtype: bool

In [28]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False   True   True
  3  False  False  False
  4   True  False  False

In [31]:
df.a.isnull().sum()

1

In [33]:
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False  False
  3   True   True   True
  4  False   True   True

In [37]:
df.a.notnull().sum()

4

 * &,|,~,^,df.any(),df.all()
 *  and, or, not, xor, any, all

In [39]:
df.all()

a    True
b    True
c    True
dtype: bool