#  Python 기초
  * `print 함수`
```
어떤 값을 출력해주는 함수
```

print('Hello world!')

print(1)

In [ ]:
print(1, 2, 3)

* `Input 함수`
```
사용자의 입력을 받아는 함수
```

In [ ]:
input()

In [ ]:
input('이름을 입력하세요')

In [ ]:
age = input('당신의 나이는?')

In [ ]:
age

* `Variable = 변수`
```
변할수 있다 = 변수, 값을 저장할 수 있다.
```

In [ ]:
my_int = 1

In [ ]:
my_int + 3

In [ ]:
my_int * 100

* `Data Type`

    * Numberic
    * String
    * Boolean = True / False

In [ ]:
1

In [ ]:
my_age = 31

In [ ]:
type(my_age)

In [ ]:
'Hello'

In [ ]:
True

In [ ]:
False

In [ ]:
1<100

* `List`
    * [val1, val2, ..]
* `Tuple`
    * (val1, val2, ..)
    * 값을 바꿀 수 없다.
* `Dictionary`
    * {key1 : val1, val2, ...}
    * 키와 값으로 이루어져 있음

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list

In [1]:
students = ['검둥이', '흰둥이', '다둥이', '햇님이']

In [2]:
students

['검둥이', '흰둥이', '다둥이', '햇님이']

In [3]:
students.append('다솜이')

In [4]:
students[0] = '누렁이'

In [5]:
students

['누렁이', '흰둥이', '다둥이', '햇님이', '다솜이']

In [6]:
students

['누렁이', '흰둥이', '다둥이', '햇님이', '다솜이']

In [7]:
my_tuple = ('일섬이', ' 이섬이', '삼섬이')

In [8]:
my_tuple

('일섬이', ' 이섬이', '삼섬이')

In [9]:
my_tuple[0] = '영섬이'

TypeError: 'tuple' object does not support item assignment

In [10]:
my_dict = {'하하' : '남자', '호호' : '여자', '헤헤' : "남자"}

In [11]:
my_dict

{'하하': '남자', '호호': '여자', '헤헤': '남자'}

In [12]:
my_dict['헤헤']

'남자'

In [13]:
my_dict['헤헤'] = '여자'

In [14]:
my_dict

{'하하': '남자', '호호': '여자', '헤헤': '여자'}

* `int(), str()`
```
숫자형 문자형?
```

In [15]:
my_int = 1

In [16]:
type(my_int)

int

In [17]:
float(my_int)

1.0

In [18]:
type(my_int)

int

In [19]:
my_int

1

In [20]:
str(my_int)

'1'

In [21]:
type(str(my_int))

str

In [22]:
my_string = 'coding'

In [23]:
list(my_string)

['c', 'o', 'd', 'i', 'n', 'g']

* `Comment`
```
주석 , 컴퓨터가 이해하지 못함. 사람이 알아듣기 위해 만듬
```

In [26]:
print('hello world')  # 안녕? 샵으로 시작하는건 주석이다

hello world

In [27]:
print(2+4)  # 계산결과를 출력합니다

6

* `String`
```
dd
```

In [29]:
my_fam = 'dd'

In [30]:
print(my_fam)

dd

In [31]:
type(my_fam)

str

In [32]:
my_fam = '''뚱돌
둥순
둥주니어
'''

In [34]:
my_fam

'뚱돌\n둥순\n둥주니어\n'

* `문자열 Formatting`
```
좀더 자유롭게 표현하고 문자열을 대입해서 쓸때 쓴다
%d(정수), %f(실수), %s(문자)
```

In [37]:
my_str = 'My name is %s'% 'Sun'

In [38]:
my_str

'My name is Sun'

In [39]:
'%d %d' %(1, 2)

'1 2'

* `Slicing`
```
리스트를 자르고 나눈다
슬라이싱할때 자릿수로 생각하면 0 ,1 안헤깔릴 수 있다
```

In [43]:
my_name ='코딩 순두부'

In [45]:
my_name # 0코1딩2 3순4두5부6

'코딩 순두부'

In [46]:
my_name[1:4]

'딩 순'

In [47]:
my_name[:2]

'코딩'

In [48]:
my_name[3:]

'순두부'

* `string.split()`
```
split은 이미 만들어진 하무이다
메서드란 string이 사용할수 있는 함수
```

In [51]:
my_name.split()

['코딩', '순두부']

In [52]:
fruits_str = '딸기 거봉 포도 망고 사과 배 복숭아 수박'

In [54]:
fruits_str

'딸기 거봉 포도 망고 사과 배 복숭아 수박'

In [56]:
fruits_str.split() #공백을 기준으로 (defualt)로 한다

['딸기', '거봉', '포도', '망고', '사과', '배', '복숭아', '수박']

* `Docstring`
```
ss
```

In [58]:
# 이것이 주석입니다

In [60]:
"""이것도 주석입니다, 프로그램에 영향을 끼지지 않습니다"""

'이것도 주석입니다, 프로그램에 영향을 끼지지 않습니다'

* `print('',end='')`

```
s
```

In [61]:
print('둥둥')

둥둥

In [66]:
print('둥둥',end='\n 코딩순두부')

둥둥
 코딩순두부

* `Escape code`
```
특정한 기능을 수행하는 문자의 조합, 특별한 걸 넣으며 특별한 행동을 한다
\n, \t
```

In [67]:
print('코딩순두부의\n 똑똑함')

코딩순두부의
 똑똑함

In [68]:
print('abc\tdefg')

abc	defg

* `List`
```
immutabel : 값을 변경 할수 없음
mutable : 값을 변경할수 있음
여개 값을 함께 모아서 저장할 수 있음, 값도 변경가능하고, 리스트안에 값은 쉽게 쪼물딱 걸릴 수 있음
[val1, val2, ...]
```

In [74]:
a = '민주 형선 둥둥 우리 가족 최고 사랑해'

In [77]:
my_family = a.split()

In [78]:
my_family

['민주', '형선', '둥둥', '우리', '가족', '최고', '사랑해']

In [79]:
my_list = []

In [80]:
my_list

[]

In [81]:
type(my_list)

list

In [82]:
my_list = [1, 2, 3]

In [83]:
my_list

[1, 2, 3]