#  Python 기초
  * `print 함수`
```
어떤 값을 출력해주는 함수
```



print('Hello world!')

print(1)

In [ ]:
print(1, 2, 3)

* `Input 함수`
```
사용자의 입력을 받아는 함수
```

In [ ]:
input()

In [ ]:
input('이름을 입력하세요')

In [ ]:
age = input('당신의 나이는?')

In [ ]:
age

* `Variable = 변수`
```
변할수 있다 = 변수, 값을 저장할 수 있다.
```

In [ ]:
my_int = 1

In [ ]:
my_int + 3

In [ ]:
my_int * 100

* `Data Type`

    * Numberic
    * String
    * Boolean = True / False

In [ ]:
1

In [ ]:
my_age = 31

In [ ]:
type(my_age)

In [ ]:
'Hello'

In [ ]:
True

In [ ]:
False

In [ ]:
1<100

* `List`
    * [val1, val2, ..]
* `Tuple`
    * (val1, val2, ..)
    * 값을 바꿀 수 없다.
* `Dictionary`
    * {key1 : val1, val2, ...}
    * 키와 값으로 이루어져 있음

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list

In [ ]:
students = ['검둥이', '흰둥이', '다둥이', '햇님이']

In [ ]:
students

In [ ]:
students.append('다솜이')

In [ ]:
students[0] = '누렁이'

In [ ]:
students

In [ ]:
my_tuple = ('일섬이', ' 이섬이', '삼섬이')

In [ ]:
my_tuple

In [ ]:
my_tuple[0] = '영섬이'

In [ ]:
my_dict = {'하하' : '남자', '호호' : '여자', '헤헤' : "남자"}

In [ ]:
my_dict

In [ ]:
my_dict['헤헤']

In [ ]:
my_dict['헤헤'] = '여자'

In [ ]:
my_dict

* `int(), str()`
```
숫자형 문자형?
```

In [ ]:
my_int = 1

In [ ]:
type(my_int)

In [ ]:
float(my_int)

In [ ]:
type(my_int)

In [ ]:
my_int

In [ ]:
str(my_int)

In [ ]:
type(str(my_int))

In [ ]:
my_string = 'coding'

In [ ]:
list(my_string)

* `Comment`
```
주석 , 컴퓨터가 이해하지 못함. 사람이 알아듣기 위해 만듬
```

In [ ]:
print('hello world')  # 안녕? 샵으로 시작하는건 주석이다

In [ ]:
print(2+4)  # 계산결과를 출력합니다

* `String`
```
문자열
```

In [ ]:
my_fam = 'dd'

In [ ]:
print(my_fam)

In [ ]:
type(my_fam)

In [ ]:
my_fam = '''뚱돌
둥순
둥주니어
'''

In [ ]:
my_fam

* `문자열 Formatting`
```
좀더 자유롭게 표현하고 문자열을 대입해서 쓸때 쓴다
%d(정수), %f(실수), %s(문자)
```

In [ ]:
my_str = 'My name is %s'% 'Sun'

In [ ]:
my_str

In [ ]:
'%d %d' %(1, 2)

* `Slicing`
```
리스트를 자르고 나눈다
슬라이싱할때 자릿수로 생각하면 0 ,1 안헤깔릴 수 있다
```

In [ ]:
my_name ='코딩 순두부'

In [ ]:
my_name # 0코1딩2 3순4두5부6

In [ ]:
my_name[1:4]

In [ ]:
my_name[:2]

In [ ]:
my_name[3:]

In [ ]:
my_name[:1]+my_name[3:4]


* `string.split()`
```
split은 이미 만들어진 함수이다
메서드란 string이 사용할수 있는 함수
```

In [ ]:
my_name

In [ ]:
my_name.split()

In [ ]:
fruits_str = '딸기 거봉 포도 망고 사과 배 복숭아 수박'

In [ ]:
fruits_str

In [ ]:
fruits_str.split() #공백을 기준으로 (defualt)로 한다

In [ ]:
name = "유형선 박민주 유주니어 우리집 행복하게 살자"

In [ ]:
print(name)

In [ ]:
name.split()

* `Docstring`
```
comment
```

In [ ]:
# 이것이 주석입니다

In [ ]:
"""이것도 주석입니다, 프로그램에 영향을 끼지지 않습니다"""

* `print('',end='')`

```
s
```

In [ ]:
print('둥둥')

In [ ]:
print('둥둥',end='\n 코딩순두부')

* `Escape code`
```
특정한 기능을 수행하는 문자의 조합, 특별한 걸 넣으며 특별한 행동을 한다
\n, \t
```

In [ ]:
print('코딩순두부의\n 똑똑함')

In [ ]:
print('abc\tdefg')

* `List`
```
immutabel : 값을 변경 할수 없음
mutable : 값을 변경할수 있음
여개 값을 함께 모아서 저장할 수 있음, 값도 변경가능하고, 리스트안에 값은 쉽게 쪼물딱 걸릴 수 있음
[val1, val2, ...]
```

In [ ]:
a = '민주 형선 둥둥 우리 가족 최고 사랑해'

In [ ]:
my_family = a.split()

In [ ]:
my_family

In [ ]:
my_list = []

In [ ]:
my_list

In [ ]:
type(my_list)

In [ ]:
my_list = [1, 2, 3]

In [ ]:
my_list

In [ ]:
my_list.append(4)

In [ ]:
my_list

* `Indexing`
    * del
    * slicing
    * sort

In [ ]:
animals = []

In [ ]:
animals.append('Elefant')

In [ ]:
animals.append('Tiger')

In [ ]:
animals.append('Lion')

In [ ]:
animals.append('Rabbit')

In [ ]:
animals

In [ ]:
del animals[3]

In [ ]:
animals

In [ ]:
animals[0:2]

In [ ]:
animals.sort() # 이름순으로 정렬

In [ ]:
animals

In [ ]:
animals.count('Lion')

In [ ]:
len(animals)

* `Tuple`
    ```
    값을 변경 할 수 없음
    Immutable
    ```

In [ ]:
my_tuple = ()

In [ ]:
type(my_tuple)

In [ ]:
my_tuple = (1,2,3)

In [ ]:
my_tuple[1]

* Packing, Unpacking
    ```

    ```

In [ ]:
my_tuple

In [ ]:
num1, num2, num3 = my_tuple

In [ ]:
num1

In [ ]:
num3

In [ ]:
num1, num2 = num2,  num1

In [ ]:
num1

* For문
    ```
    for val in container:
        command 1 (code block)
        command 2 (code block)
    ```

In [ ]:
for x in animals:
    print(x)

* Range()
```
    범위?
```

In [ ]:
range(3)

In [ ]:
for x in range(99):
    print(x)

In [ ]:
for i in range(2,10):   #중첩 반복문
    for n in range(i,10):
        print('{}x{}={}'.format(i, n, 2*n))
    
# 2x1=2
# 2x2=4
# ...

* Comprehension
```
뭘까?
```

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
numbers

In [ ]:
type(numbers)

In [ ]:
odd_numbers = []

In [ ]:
for num in numbers:
    if num % 2 == 1:
        odd_numbers.append(num)
print(odd_numbers)

In [ ]:
numbers

In [ ]:
#List comprehension 고오오오급 기술 나중에 읽기 위해서라도 알아두기

odd_numbers = [num for num in numbers if num % 2 == 1]

In [ ]:
print(odd_numbers)

* Operator
    * 할당 연산자

```
 연산자 : 어떤 역할을 수행한다
 =,+=, -=, *=,/=
 www.pythontutor.com에서 실제로 어떻게 코드가 동작하는지 볼 수 있다

```

In [ ]:
count = 1

In [ ]:
count = count + 1

In [ ]:
count += 1 #복합 할당 연산자

# Arithmetic
* 상술 연산자
* 특수 연산자   
```
+, -, *, /, **, //, %
```

In [ ]:
3+4

In [ ]:
6-4

In [ ]:
3*3

In [ ]:
3**3

In [ ]:
10/3

In [ ]:
10//3

In [ ]:
10%3

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for number in numbers:
    print(number)

In [ ]:
odd = []

In [ ]:
even = []

In [ ]:
for number in numbers:
    if number % 2 ==1:
        odd.append(number)
        print(number , " is odd")
    else:
        even.append(number)
        print(number, " is even")

In [ ]:
odd

In [ ]:
even

# String
```
문자열 연산자
```

In [ ]:
"코순 " + "x " + "둥순"

In [ ]:
"코순이 " * 10

In [ ]:
def cls():
    print('\n' * 10)  # 화면 clear 할때

In [ ]:
cls()

# Comparation
```
비교 연산자
==, !=, >, <, >=, <=
```
# Logical
```
논리 연산자
and, or, not
```

In [ ]:
1==1 or 2>3 or 3>=10

In [ ]:
not False

# Membership
```
있는지 없는지 확인하는것
in, not in
```

In [ ]:
coding_soon ="유형선 박민주 유둥돌 박둥순 유코순 박밍주"

In [ ]:
coding_soon = coding_soon.split()

In [ ]:
coding_soon

In [ ]:
"유둥돌" in coding_soon

In [ ]:
"유둥순" not in coding_soon

# if
```
조건문

if 조건 :   # True or False, True일때 넘어간다
    실행할 명령1 # code block
    실행할 명령2
elif:
    실행할 명령1 # code block
    실행할 명령2
else:
    실행할 명령1 # code block
    실행할 명령2
```

In [ ]:
input_name = "cosoon"
if input_name == "cosoon":
    print("Nice to meet you",input_name)

In [ ]:
name = "cosoon"
if name =="cosoon":
    print('you are cosoon')
elif name =='sony':
    print('You are sony')
elif name =='xoxo':
    print('You are xoxo')
else:
    print('who are you??')

# Loop
```
while 조건: # True or False, 무한반복 조건
    실행할 명령1 #code block
    실행할 명령2
```

In [2]:
count = 0
while count < 3:
    print('count : ', count)
    count += 1

count :  0
count :  1
count :  2

# continue, break
```
계속해? 그만해?
continue : 다시 조건문 식으로 돌아가
break : 조건문이고 뭐고 그냥 끝내
```

In [14]:
# 4,5,6,7,8 만 출력되게 하기
count1 = 0
while count1 < 10:
    count1 += 1
    if count1 < 4:
        continue
    print('count : ', count1)
    if count1 == 8:
        break

count :  4
count :  5
count :  6
count :  7
count :  8