#  Python 기초
  * `print 함수`
```
어떤 값을 출력해주는 함수
```



print('Hello world!')

print(1)

In [2]:
print(1, 2, 3)

1 2 3

* `Input 함수`
```
사용자의 입력을 받아는 함수
```

In [4]:
input()

''

In [5]:
input('이름을 입력하세요')

이름을 입력하세요sun

'sun'

In [6]:
age = input('당신의 나이는?')

당신의 나이는?32

In [7]:
age

'32'

* `Variable = 변수`
```
변할수 있다 = 변수, 값을 저장할 수 있다.
```

In [8]:
my_int = 1

In [9]:
my_int + 3

4

In [10]:
my_int * 100

100

* `Data Type`

    * Numberic
    * String
    * Boolean = True / False

In [11]:
1

1

In [12]:
my_age = 31

In [13]:
type(my_age)

int

In [14]:
'Hello'

'Hello'

In [15]:
True

True

In [16]:
False

False

In [17]:
1<100

True

* `List`
    * [val1, val2, ..]
* `Tuple`
    * (val1, val2, ..)
    * 값을 바꿀 수 없다.
* `Dictionary`
    * {key1 : val1, val2, ...}
    * 키와 값으로 이루어져 있음

In [18]:
my_list = [1, 2, 3, 4, 5]

In [19]:
my_list

[1, 2, 3, 4, 5]

In [20]:
students = ['검둥이', '흰둥이', '다둥이', '햇님이']

In [21]:
students

['검둥이', '흰둥이', '다둥이', '햇님이']

In [22]:
students.append('다솜이')

In [23]:
students[0] = '누렁이'

In [24]:
students

['누렁이', '흰둥이', '다둥이', '햇님이', '다솜이']

In [26]:
my_tuple = ('일섬이', ' 이섬이', '삼섬이')

In [27]:
my_tuple

('일섬이', ' 이섬이', '삼섬이')

In [28]:
my_tuple[0] = '영섬이'

TypeError: 'tuple' object does not support item assignment

In [29]:
my_dict = {'하하' : '남자', '호호' : '여자', '헤헤' : "남자"}

In [30]:
my_dict

{'하하': '남자', '호호': '여자', '헤헤': '남자'}

In [31]:
my_dict['헤헤']

'남자'

In [32]:
my_dict['헤헤'] = '여자'

In [33]:
my_dict

{'하하': '남자', '호호': '여자', '헤헤': '여자'}

* `int(), str()`
```
숫자형 문자형?
```

In [34]:
my_int = 1

In [35]:
type(my_int)

int

In [36]:
float(my_int)

1.0

In [37]:
type(my_int)

int

In [38]:
my_int

1

In [39]:
str(my_int)

'1'

In [40]:
type(str(my_int))

str

In [41]:
my_string = 'coding'

In [42]:
list(my_string)

['c', 'o', 'd', 'i', 'n', 'g']

* `Comment`
```
주석 , 컴퓨터가 이해하지 못함. 사람이 알아듣기 위해 만듬
```

In [43]:
print('hello world')  # 안녕? 샵으로 시작하는건 주석이다

hello world

In [44]:
print(2+4)  # 계산결과를 출력합니다

6

* `String`
```
문자열
```

In [45]:
my_fam = 'dd'

In [46]:
print(my_fam)

dd

In [47]:
type(my_fam)

str

In [48]:
my_fam = '''뚱돌
둥순
둥주니어
'''

In [49]:
my_fam

'뚱돌\n둥순\n둥주니어\n'

* `문자열 Formatting`
```
좀더 자유롭게 표현하고 문자열을 대입해서 쓸때 쓴다
%d(정수), %f(실수), %s(문자)
```

In [50]:
my_str = 'My name is %s'% 'Sun'

In [51]:
my_str

'My name is Sun'

In [52]:
'%d %d' %(1, 2)

'1 2'

* `Slicing`
```
리스트를 자르고 나눈다
슬라이싱할때 자릿수로 생각하면 0 ,1 안헤깔릴 수 있다
```

In [53]:
my_name ='코딩 순두부'

In [54]:
my_name # 0코1딩2 3순4두5부6

'코딩 순두부'

In [55]:
my_name[1:4]

'딩 순'

In [56]:
my_name[:2]

'코딩'

In [57]:
my_name[3:]

'순두부'

In [59]:
my_name[:1]+my_name[3:4]

'코순'


* `string.split()`
```
split은 이미 만들어진 함수이다
메서드란 string이 사용할수 있는 함수
```

In [60]:
my_name

'코딩 순두부'

In [61]:
my_name.split()

['코딩', '순두부']

In [62]:
fruits_str = '딸기 거봉 포도 망고 사과 배 복숭아 수박'

In [63]:
fruits_str

'딸기 거봉 포도 망고 사과 배 복숭아 수박'

In [64]:
fruits_str.split() #공백을 기준으로 (defualt)로 한다

['딸기', '거봉', '포도', '망고', '사과', '배', '복숭아', '수박']

In [67]:
name = "유형선 박민주 유주니어 우리집 행복하게 살자"

In [68]:
print(name)

유형선 박민주 유주니어 우리집 행복하게 살자

In [70]:
name.split()

['유형선', '박민주', '유주니어', '우리집', '행복하게', '살자']

* `Docstring`
```
comment
```

In [73]:
# 이것이 주석입니다

In [74]:
"""이것도 주석입니다, 프로그램에 영향을 끼지지 않습니다"""

'이것도 주석입니다, 프로그램에 영향을 끼지지 않습니다'

* `print('',end='')`

```
s
```

In [75]:
print('둥둥')

둥둥

In [76]:
print('둥둥',end='\n 코딩순두부')

둥둥
 코딩순두부

* `Escape code`
```
특정한 기능을 수행하는 문자의 조합, 특별한 걸 넣으며 특별한 행동을 한다
\n, \t
```

In [77]:
print('코딩순두부의\n 똑똑함')

코딩순두부의
 똑똑함

In [78]:
print('abc\tdefg')

abc	defg

* `List`
```
immutabel : 값을 변경 할수 없음
mutable : 값을 변경할수 있음
여개 값을 함께 모아서 저장할 수 있음, 값도 변경가능하고, 리스트안에 값은 쉽게 쪼물딱 걸릴 수 있음
[val1, val2, ...]
```

In [90]:
a = '민주 형선 둥둥 우리 가족 최고 사랑해'

In [91]:
my_family = a.split()

In [92]:
my_family

['민주', '형선', '둥둥', '우리', '가족', '최고', '사랑해']

In [93]:
my_list = []

In [94]:
my_list

[]

In [95]:
type(my_list)

list

In [96]:
my_list = [1, 2, 3]

In [97]:
my_list

[1, 2, 3]

In [98]:
my_list.append(4)

In [99]:
my_list

[1, 2, 3, 4]

* `Indexing`
    * del
    * slicing
    * sort

In [111]:
animals = []

In [112]:
animals.append('Elefant')

In [113]:
animals.append('Tiger')

In [114]:
animals.append('Lion')

In [115]:
animals.append('Rabbit')

In [116]:
animals

['Elefant', 'Tiger', 'Lion', 'Rabbit']

In [117]:
del animals[3]

In [118]:
animals

['Elefant', 'Tiger', 'Lion']

In [119]:
animals[0:2]

['Elefant', 'Tiger']

In [123]:
animals.sort() # 이름순으로 정렬

In [124]:
animals

['Elefant', 'Lion', 'Tiger']

In [126]:
animals.count('Lion')

1

In [128]:
len(animals)

3

* `Tuple`
    ```
    값을 변경 할 수 없음
    Immutable
    ```

In [130]:
my_tuple = ()

In [131]:
type(my_tuple)

tuple

In [132]:
my_tuple = (1,2,3)

In [133]:
my_tuple[1]

2

* Packing, Unpacking
    ```

    ```

In [134]:
my_tuple

(1, 2, 3)

In [135]:
num1, num2, num3 = my_tuple

In [136]:
num1

1

In [137]:
num3

3

In [139]:
num1, num2 = num2,  num1

In [140]:
num1

2

* For문
    ```
    for val in container:
        command 1 (code block)
        command 2 (code block)
    ```

In [143]:
for x in animals:
    print(x)

Elefant
Lion
Tiger

* Range()
```
    범위?
```

In [144]:
range(3)

range(0, 3)

In [146]:
for x in range(99):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [153]:
for i in range(2,10):   #중첩 반복문
    for n in range(i,10):
        print('{}x{}={}'.format(i, n, 2*n))
    
# 2x1=2
# 2x2=4
# ...

2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x3=6
3x4=8
3x5=10
3x6=12
3x7=14
3x8=16
3x9=18
4x4=8
4x5=10
4x6=12
4x7=14
4x8=16
4x9=18
5x5=10
5x6=12
5x7=14
5x8=16
5x9=18
6x6=12
6x7=14
6x8=16
6x9=18
7x7=14
7x8=16
7x9=18
8x8=16
8x9=18
9x9=18

* Comprehension
```
뭘까?
```

In [157]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [158]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [159]:
type(numbers)

list

In [167]:
odd_numbers = []

In [168]:
for num in numbers:
    if num % 2 == 1:
        odd_numbers.append(num)
print(odd_numbers)

[1, 3, 5, 7, 9]

In [169]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [174]:
#List comprehension 고오오오급 기술 나중에 읽기 위해서라도 알아두기

odd_numbers = [num for num in numbers if num % 2 == 1]

In [172]:
print(odd_numbers)

[1, 3, 5, 7, 9]

* Operator
    * 할당 연산자

```
 연산자 : 어떤 역할을 수행한다
 =,+=, -=, *=,/=
 www.pythontutor.com에서 실제로 어떻게 코드가 동작하는지 볼 수 있다

```

In [187]:
count = 1

In [188]:
count = count + 1

In [194]:
count += 1 #복합 할당 연산자